<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h1 class='text-center'> The Speech Generator</h1>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <p> <%= Topic.random(3).topic_phrase %> </p>
      </div>
    </div>
  </div>
</div>
